:root {
  --primary-color-1: #60b9c7;
  --primary-color-2: #48a7b5;
  --primary-color-3: #3096a3;
  --primary-color-4: #188491;
  --primary-color-5: #00727f;

  --grey-300: #f2f2f2;
  --grey-400: #d0d3d9;
  --grey-500: #707a8c;
  --grey-600: #50555c;
  --blue-400: #0543dc;

  --semi-bold: 600;

  --font-xl: 1.25rem;
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;
}
